@import 'mixins.scss';
@import '_variables.scss';

@import './UI/OzonInput/OzonInput.scss';
@import './UI/OzonCheckBox/OzonCheckBox.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

body{
    height: 100vh;
    background-color: #fff;
    @include flex-center;
}
.progress {

    &-block {
        @include flex-column-space-around;
        min-width: 320px;
        min-height: 568px;
        // border: 2px dashed $color-ozon-blue;
    }
    &-bar {
        @include flex-center;
        width: 150px;
        height: 150px;
        background: conic-gradient($color-ozon-blue 0deg, $color-ozon-grey 0deg);
        border-radius: 50%;
        transition: all ease-in-out 200ms;
        &::before{
            content: "";
            position: absolute;
            width: 120px;
            height: 120px;
            background: $color-white;
            border-radius: 50%;
        }
    }
    &-settings {
        @include flex-row-center;
        width: 250px;
        height: 150px;
        &__col{
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            &+&{
                margin-left: 20px;
            }
        }
        &__row{

        }
    }
    &-setting{
        &__container{
            display: flex;
            justify-content: space-around;
            flex-basis: calc(50% - 100px);
        }
        &__value{

        }
    }
}
